*.class
*.log
.classpath
.project
.cache
.history
.lib/
bin/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
.scala_dependencies
.worksheet
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/bin/
logs
